<h1>Create a new Figure</h1>

<form action='/figures' method='POST'>
  Figure Name: <input type='text' placeholder='Enter a Figure name'  id = "figure_name" name='figure[name]' /><br>
  Choose a Landmark: <br>
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name= "figure[landmark_ids][]" id = "landmark_<%= landmark.id %>" value= "<%= landmark.id %>"> <%= landmark.name %> <br>
  <% end %> <br>

 Choose a Title: <br>
  <% Title.all.each do |title| %>
  <input type="checkbox" name= "figure[title_ids][]"  id = "title_<%= title.id %>" value= "<%= title.id %>"> <%= title.name %> <br>
  <% end %> <br>

 Or...<br>

 Create a new Landmark: <br>


 <input type='text' placeholder="Enter a new Landmark name..."  id = 'new_landmark' name='new_landmark[name]' />
  <input type='text' placeholder="Enter the year it was created" name = 'new_landmark[year_completed]' /> <br>

 Create a new Title: <br>


 <input type='text' placeholder="Enter a new Title..." id = 'new_title' name='new_title[name]' />


 <input type='submit' value="Create New Figure" />
</form>
